.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    max-width:8%;
    width:99px;
    height:99px;
    height:auto;
  }
}

.App-header {
  background-color: #282c34;
  max-height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 6vmin);
  color: white;
}

.App-header .App-logo {
  margin-right: 75%;
}
.App-Body {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Body .data-table {
  background-color: white;
  color: black;
  font-size:14px;
  scroll-behavior: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lucid-Overlay .main-content {
  position: absolute;
  top: 75%;
  left: 50%;
  background-color: white;
  z-index: 1002;
  overflow: auto;
  width: 400px;
  height: 200px;
  margin-left: -200px;
  margin-top: -200px;
}

#opaque {
  display:block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: black;
  opacity: 0.3;
}

.search-bar {
  display: flex;
  height: 25px;
  padding-bottom: 10px;
  padding-top:10px;
  margin-left: 50%;
}

.lucid-SearchField-Icon-container {
  display: inline;
}

.Grid-Header {
  background-color: #cce996;
}

.Grid-Header .Buttons {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px 0;
}

.lucid-OverlayWrapper-message-container {
  color: white;
}

.table-row-deny {
  color: red;
}

.lucid-Table-is-disabled {
  color: blue;
}

.lucid-Table-is-active {
  color: red;
}